::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #000;
    border: 1px solid #522a15;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #f76212;
    border-radius: 50px;
    border-spacing: 40px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ff7b35;
  }